@font-face {
    font-family: "spartan_black";
    src: url("../assets/fonts/Spartan-Black.ttf");
  }

  @font-face {
    font-family: "spartan_bold";
    src: url("../assets/fonts/Spartan-Bold.ttf");
  }

  @font-face {
    font-family: "spartan_extra_bold";
    src: url("../assets/fonts/Spartan-Extra-Bold.ttf");
  }

@font-face {
    font-family: "spartan_light";
    src: url("../assets/fonts/Spartan-Light.ttf");
}

 @font-face {
    font-family: "spartan_regular";
    src: url("../assets/fonts/Spartan-Regular.ttf");
}

@font-face {
    font-family: "spartan_semibold";
    src: url("../assets/fonts/Spartan-SemiBold.ttf");
}

@font-face {
    font-family: "spartan_Thin";
    src: url("../assets/fonts/Spartan-Thin.ttf");
}

@font-face {
    font-family: "quimbymayoral";
    src: url("../assets/fonts/Quimbymayoral.ttf");
}
